.storybook-avatar {
 width: 10%;
 height: 10%;
 border-radius: 50%;
}
.storybook-avatar--primary {
  width: 10%;
  height: 10%;
 box-shadow: 5px 5px 5px #333;
}
.storybook-avatar--secondary {
  width: 10%;
  height: 10%;
  box-shadow: 5px 5px 5px rgb(151, 151, 151);

}
.storybook-avatar--little {
  width: 10%;
  height: 10%;
  font-size: 12px;

}
.storybook-avatar--medium {
  width: 30%;
  height: 30%;
  font-size: 12px;

}
.storybook-avatar--big {
  width: 40%;
  height: 40%;
  font-size: 12px;

}
